
.copyright{
    padding: 0.5rem 0 1rem;
    text-align: center;
    color: #333;
}
.commentContent{
    width: 100%;
    height: 200px;
    background: url("../../static/image/comment_bg.png") no-repeat;
    background-size: cover;
    position: relative;

}
.commentContent p{
    font-size: 13px;
    color: grey;
    position: absolute;
    top: 30px;
    width: 80%;
    margin-left: 10%;
    text-align: left;
}
.commentContent img{
    width: 100%;
    height: 78px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.commentWrapper{
    overflow: auto;
    margin-top: 20px;
    width: 100%;
    height: 280px;
    text-align: center;
}
.commentInner{
    list-style: none;
    width: 1500px;
    height: 100%;
}
.commentInner li{
    margin-left: 10px;
    width: 157px;
    display: inline-block;
}
.commentInner li .pic{
    display: inline-block;
    margin: 0 auto;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.commentInner li .phoneNumber{
    font-size: 12px;
    color: grey;
    line-height: 25px;
    text-align: center;
}
.gifsList {
    width: 100%;
    height: 240px;
    position: relative;
    overflow: auto;

}

.gifsList ul {
    height: 240px;
    min-width: 100%;
    overflow: hidden;
    list-style: none;
    position: absolute;
}

.gifsList ul li {
    margin-left: 10px;
    display: inline-block;
    width: 150px;
    height: 100%;
}

.gifsList ul li img {
    width: 100%;
    height: 150px;
}

.gifs {
    width: 100%;
}

.gifs a {
    text-align: center;
    margin-top: 20px;
    margin-left: 2%;
    display: inline-block;
    width: 96%;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 600;

}

.gifs a::after {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 3px;
    left: 58%;
    content: '';
    background: url("../../static/image/icons_1.png") no-repeat;
    background-position: -20px -60px;
    background-size: 200px;
}

.gifs a img {
    width: 100%;
    height: auto;
}

.gifsIcon {
    margin-top: 10px;
    margin-bottom: 10px;

    position: relative;
}

/*样式*/
.totalWrapper {
    margin-bottom: 50px;
}

.topWrapper {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 100;
    background: white;
    opacity: 0.8;
    border-bottom: 1px solid #a38d6b;
}

.addressIcon {
    display: inline-block;
    width: 20%;
    height: 40px;
    float: left;
}

.msgIcon::before, .addressIcon::before {
    content: "";
    background-image: url("../../static/image/icons_1.png");
    background-repeat: no-repeat;
}

.addressIcon::before {
    width: 20px;
    height: 20px;
    background-position: -100px -40px;
    margin: 10px;
    background-size: 200px 200px;
    position: absolute;
}

.address {
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
}

.centerIcon {
    width: 60%;
    height: 100%;
    background: url("../../static/image/logo_top.png") 100% 100% no-repeat;
    display: inline-block;
    float: left;
    background-position: 0 10px;
    transform: scale(0.7);
}

.msgIcon {
    display: inline-block;
    width: 20%;
    height: 100%;
    float: left;
}

.msgIcon::before {
    display: inline-block;
    width: 40px;
    height: 100%;
    float: left;
    margin-left: 20px;
    background-position: 0 -120px;
    transform: scale(0.7);
}

.sliderWrapper {
    width: 100%;
}

.red {
    width: 96%;
    height: 40px;
    line-height: 40px;
    background: tomato;
    color: white;
    text-align: center;
    margin: 60px auto 10px;
    font-size: 16px;
}

.swiperWrapper {
    position: relative;
    width: 96%;
    margin: 0 auto;
    overflow: hidden;
}

.swiperWrapper ul {
    width: 400%;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
}

.swiperWrapper ul li {
    width: 25%;
    height: 100%;
    float: left;
}

.imgWrapper img {
    width: 100%;
    height: 100%;
}

.circle {
    width: 40%;
    position: absolute;
    left: 30%;
    bottom: 0;
    text-align: center;
}

.circle span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 10px 10px 0 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #ededed;
}

.circle .active {
    background: tomato;
}

.onePartList {
    width: 100%;
    margin: 10px auto;
}

.onePartList ul {
    width: 100%;
    height: 100%;
    list-style: none;
}

.onePartList ul li {
    float: left;
    width: 47%;
    height: 100%;
    margin-left: 2%;
}

.onePartList ul li img {
    width: 100%;
    height: 100%;
}

.joinCake {
    position: relative;
    width: 100%;
    height: 50px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
}

.joinCake a {

    font-size: 18px;
    text-decoration: none;
    color: #333;

}

.joinCake a::after {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 58%;
    content: '';
    background: url("../../static/image/icons_1.png") no-repeat;
    background-position: -20px -60px;
    background-size: 200px;
}

.goodsList {
    width: 100%;
}

.goodsList ul {
    list-style: none;
    width: 100%;
}

.goodsList ul li {
    display: inline-block;
    width: 47%;
    margin-left: 2%;
}

.goodsList ul li img {
    width: 100%;
    height: 100%;
}

.titleClass {
    width: 100%;
    height: 70px;
    font-size: 15px;
    line-height: 20px;
}

.titleClass p:nth-child(1) {
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.titleClass p:nth-child(2) {
    color: white;
    display: inline-block;
    padding: 0px 3px;
    font-size: 14px;
    background: tomato;
    line-height: 20px;
}

.titleClass p:nth-child(3) {
    color: #333;
    font-size: 12px;
    line-height: 30px;
}
